<meta charset='utf-8'>  
<html>  
    <head>  
        <title>CMS for NJU CSer</title>  
        <meta name='viewport' content='width=device-width,initial-scale=1.0'>  
        <link href="{{static_url('css/bootstrap.css')}}" rel='stylesheet' type='text/css'>  
        <script src="{{static_url('js/jquery-2.1.4.min.js')}}"></script>  
        <script src="{{static_url('js/bootstrap.js')}}"></script>  
    </head>  
    <body>  
        <header>  
        {%block header%}  
        {%end%}  
        </header>  
        <content>  
        {%block content%}  
        {%end%}  
        </content>  
        <footer>  
        {%block footer%}  
        {%end%}  
        </footer>  
    </body>  
</html>  