<!DOCTYPE html>
<html lang="zh-cn">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NJU CSer</title>
        <link href="{{static_url('css/bootstrap.css')}}" rel='stylesheet' type='text/css'> 
        <link href="{{static_url('css/lato.css')}}" rel="stylesheet" type="text/css"> 
        <link href="{{static_url('css/bootstrap-table.css')}}" rel="stylesheet">
        <script src="{{static_url('js/jquery-2.1.4.min.js')}}"></script>  
        <script src="{{static_url('js/bootstrap.js')}}"></script> 
        <script>
            function loadXMLMsg()
            {
                var xmlhttp;
                xmlhttp=new XMLHttpRequest();
                xmlhttp.onreadystatechange=function()
                {
                    if(xmlhttp.readyState==4&&xmlhttp.status==200)
                    {
                        if(xmlhttp.responseText=='0')
                        {
                            document.getElementById('messageBtn').innerHTML="<a href='#' class='h4 text-info navbar-text'><strong><i>新消息</i></a><label class='text-danger'>news</label>";
                        }
                        else
                        {
                            document.getElementById('messageBtn').innerHTML="<a href='#' class=''><span class='glyphicon glyphicon-comment'> 消息 </a>";
                        }
                    }
                }
                xmlhttp.open('GET','/bling',true);
                xmlhttp.send();
            }
            function doUpdate()
            {
                loadXMLMsg();
                window.setTimeout('doUpdate()',60000);
            }
            doUpdate();
        </script>
        <script>
            $(document).ready(function(){
                $("#logoutBtn").click(function(){
                    $("#myModal").modal();
                });
                $("#messageBtn").click(function() {
                    $("#messageModal").modal();
                });
            });
            function logout(){
                location.href='/logout';
            }
        </script>
    </head>
<body style="font-family:Lato, Microsoft Yahei;">
    <!--header-->
    {%block header%}
    {%end%}
    <!--/header-->
    <div class='container' role='content'>   <!--content-->
    {%block content%}
    {%end%}
    </div>
<footer>
    {%block footer%}
    <div class="container">
        <div class='row'>
            <br><br><br><br><br><br><br>
            <hr/>
            <dl class="col-md-offset-3 col-md-2">
                <dt>网站相关</dt>
                <dd><a href="/about" class='text-muted'>关于我们</a></dd>
            </dl>
            <dl class="col-md-2">
                <dt>关注我们</dt>
                <dd><a href="https://github.com/lxiange/CMS_for_SE_b" target="_blank" class='text-muted '>项目主页</a></dd>
            </dl>
            <dl class="col-md-3" id="license">
                <dt>内容许可</dt>
                <dd class='text-muted'>除特别说明外，用户内容均采用 <a rel="license" target="_blank" class='text-muted ' href="http://creativecommons.org/licenses/by-sa/3.0/cn/">知识共享署名-相同方式共享 3.0 中国大陆许可协议</a> 进行许可</dd>
            </dl>
        </div>
        <div class="panel">
            <p class='text-muted text-center'>Copyright &copy; 2016 NJU CSer, All Rights Reserved<br><a href="http://www.miitbeian.gov.cn/" rel="nofollow" class='text-muted '>苏ICP备2333号</a> </p>
        </div>
    </div>
    {%end%}
</footer>

  <!-- logoutModal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">确认注销？</h4>
            </div>
            <div class="modal-body">
                <p>将会注销当前账号，继续吗？</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="logout()">继续注销</button>
            </div>
        </div>
    </div>
</div>
        
<!-- Message Modal -->
<div class="modal fade" id="messageModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">消息</h4>
            </div>
            <div class="modal-body">
                    <ul class="nav nav-tabs nav-justified">
                        <li class="active"><a href="#publicdiv" data-toggle="tab"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;群邮件</a></li>
                        <li><a href="#privatediv" data-toggle="tab"><span class="glyphicon glyphicon-inbox"></span>&nbsp;收件箱</a></li>
                        <li><a href="#newmsgdiv" data-toggle="tab"><span class="glyphicon glyphicon-envelope"></span>&nbsp;发送私信</a></li>
                    </ul>
                    <br>
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade in active" id="publicdiv" >
                            <table id="publicmessagetable" class="table table-hover">
                                <thead>
                                    <colgroup>
                                        <col width='30%'></col>
                                        <col width='50%'></col>
                                        <col width='20%'></col>
                                    </colgroup>
                                    <tr>
                                        <th><span class="glyphicon glyphicon-time"></span>&nbsp;&nbsp;时间</th>
                                        <th><span class="glyphicon glyphicon-comment"></span>&nbsp;&nbsp;内容</th>
                                        <th><span class="glyphicon glyphicon-comment"></span>&nbsp;&nbsp;发布人</th>
                                        <!-- TODO：把发件人这个图标换了 -->
                                    </tr>
                                </thead>
                                <tbody>
                                    {%for msg in messages%}
                                    {%if msg['receiver_name']=='ALL'%}
                                    <tr>
                                        <td>{{msg['date_']}}</td>
                                        <td>{{msg['content']}}</td>
                                        <td>{{msg['sender_name']}}</td>
                                    </tr>
                                    {%end%}
                                    {%end%}

                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="privatediv">
                            <table id="privatemessagetable" class="table table-hover">
                                <thead>
                                    <colgroup>
                                        <col width='30%'></col>
                                        <col width='50%'></col>
                                        <col width='20%'></col>
                                    </colgroup>
                                    <tr>
                                        <th><span class="glyphicon glyphicon-time"></span>&nbsp;&nbsp;时间</th>
                                        <th><span class="glyphicon glyphicon-comment"></span>&nbsp;&nbsp;内容</th>
                                        <th><span class="glyphicon glyphicon-comment"></span>&nbsp;&nbsp;发件人</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {%for msg in messages%}
                                    {%if msg['receiver_name']!='ALL'%}
                                    <tr>
                                        <td>{{msg['date_']}}</td>
                                        <td>{{msg['content']}}</td>
                                        <td>{{msg['sender_name']}}</td>
                                    </tr>
                                    {%end%}
                                    {%end%}

                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="newmsgdiv">
                           <form id="newmsgform" action='/message' method='post' class='form-horizontal'>
                                <div class='form-group'>
                                    <label class='col-md-2 control-label'>收件人</label>
                                    <div class='col-md-9'>
                                        <input type='text' name='receiver_name' class='form-control' required>
                                    </div>
                                </div>
                                <div class='form-group'>
                                    <label class='col-md-2 control-label'>内容</label>
                                    <div class='col-md-9'>
                                        <textarea rows='5' type='text' name='message_content' class='form-control ' placeholder='键入内容' maxlength='100' required></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-11 widget-right">
                                        <button type="submit" class="btn btn-success btn-md pull-right"><span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;发送</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>