{%extends 'main.html'%}
{%include 'head.html'%}
{%block content%}
<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-10 col-lg-10 col-lg-offset-1 main">
            <h2 class="page-header">所有成员</h2>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel">
                        <div class="panel-body">
                            <table data-toggle="table" data-show-toggle="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc">
                                <thead>
                                    <!-- <colgroup>
                                        <col width='10%'></col>
                                        <col width='20%'></col>
                                        <col width='30%'></col>
                                        <col width='30%'></col>
                                        <col width='10%'></col>
                                    </colgroup> -->
                                    <tr>
                                        <th data-field="name" data-sortable="true" >姓名</th>
                                        <th data-field="njuid" data-sortable="true">学号</th>
                                        <th data-field="email"  data-sortable="true">邮箱</th>
                                        <th data-field="mobile" data-sortable="true">联系方式</th>
                                        <th data-field="option">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>张三</td>
                                        <td>131220000</td>
                                        <td>root@root.com</td>
                                        <td>13333333333</td>
                                        <td>
                                            <div class="action-buttons">
                                                <a href="#"><span class="glyphicon glyphicon-ok"></span></a>
                                                <a href="#" class="trash"><span class="glyphicon glyphicon-trash"></span></a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div><!--/.row-->
        </div><!--/.main-->
    </div>
</div>
    <script src="{{static_url('js/bootstrap-table.js')}}"></script>
    <script>
        !function ($) {
            $(document).on("click","ul.nav li.parent > a > span.icon", function(){        
                $(this).find('em:first').toggleClass("glyphicon-minus");      
            }); 
            $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
        }(window.jQuery);

        $(window).on('resize', function () {
          if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
        })
        $(window).on('resize', function () {
          if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
        })
    </script>   
{%end%}