{%extends 'main.html'%}  
  
{%block content%}  
<!-- <p class='text-danger'>注册用户名不支持中文</p>   -->
<script src="{{static_url('js/checkpw.js')}}"></script>  
<form action='/register' method='post' class='well'>  
    <div class='form-group'>  
        <label>用户名</label>  
        <input type='text' name='username' class='form-control'/>  
    </div>  
    <div class='form-group'>  
        <label>学号或工资号</label>  
        <input type='text' name='njuid' class='form-control'/>  
    </div>  
    <div class='form-group'>  
        <label>密码</label>  
        <input type='password' name='password' class='form-control'/>  
    </div>  
    <div class='form-group'>  
        <label>确认密码</label>  
        <input type='password' name='password2' class='form-control'/>  
    </div>  
    <button type='submit' class='btn btn-primary' onclick='return checkpw()'>注册</button>  
    <a href='/'>已有帐号，请直接登录</a>  
</form>  
{%end%}  