<meta charset='utf-8'>
<html>
<head>
        <title>NJU CSers' Club</title>
        <meta name='viewport' content='width=device-width,initial-scale=1.0'>
        <link href="{{static_url('css/bootstrap.css')}}" rel='stylesheet' type='text/css'>  
        <script src="{{static_url('js/jquery-2.1.4.min.js')}}"></script>  
        <script src="{{static_url('js/bootstrap.js')}}"></script>  
</head>
<body>
    <script>
    {%if same_name%}
        alert('该用户名已被注册，请换一个再试试');
    {%end%}

</script>
<script src='/static/registerCheck.js'></script>
    <nav class='navbar navbar-default'>
    <div class='navbar-header'>
        <a class='navbar-brand' href='/'>NJU CSer</a>
    </div>
    </nav>

    
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <header class="text-center">
                        <div class="square"></div>
                        <h1 style="font-family: Microsoft YaHei;font-size:300%;color:black">注册</h1>
                    </header>
                </div>
                <div class="panel-body">
                    <br>
                    <div id="myTabContent" class="tab-content">
                       <div class="tab-pane fade in active" id="register">
                            <form action='/register' method='post' class='well' name='form'>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-user"></span>
                                        </div>
                                        <input name="username" type="text" class="form-control"
                                            placeholder="用户名">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-user"></span>
                                        </div>
                                        <input name="njuid" type="text" class="form-control"
                                            placeholder="学号">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-eye-open"></span></span>
                                        </div>
                                        <input name="password" type="password" class="form-control" placeholder="密码">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-eye-open"></span></span>
                                        </div>
                                        <input name="password2" type="password" class="form-control" placeholder="确认密码">
                                    </div>
                                </div>
                                <br>
                                <div class="form-group text-center">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block" onclick='return checkform()'>成为新用户</button>
                                    <a href='/'>已有帐号，请直接登录</a>
                                </div>
                            </form>
                       </div>
                    </div>

                </div>
            </div>
            <div class="panel">
                <p class="text-center">
                   <hr/>
            <a href='/about' class='text-muted h5'>关于</a>
            <span class='text-muted h5'>&nbsp;&nbsp; © 2015 NJU CSer</span> 
                </p>
            </div>
        </div>
        <div class="col-sm-4">
            <p class='text-info h3'>注意事项</p>
                <ul>
                    <li class='h4'>请使用真实学号注册:-)</li>
                    <li class='h4'>请勿使用恶搞的用户名:-)</li>
                    <li class='h4'>有问题请即使与管理员联系:-)</li>
                    <li class='h4'>:-)</li>
                </ul>
            <p class='text-primary h4'>追随自己内心的声音，加入我们，搞起！！！</p>
        </div>
    </div>
</div>





</body>
</html>
