{%extends 'main.html'%}
{%include 'head.html'%}
{%block content%}
{%import os%}
<div class="container-fluid">
  <div class="row content">
    {%include 'nav_vertical.html'%}
    <div class="col-sm-9 text-left">
      <div class="row">
        <div class="panel-group" id="accordion2">
          {%for res in resource_list%}
          <div class="panel panel-info">
            <div class="panel-heading">
              <h4 class="panel-title">
              <a data-toggle="collapse" href={{"#resource_collapse"+res['title']}}>
                {{res['title']}} <span class="label label-info"></span></a>
                </h4>
              </div>
              <div id={{"resource_collapse"+res['title']}} class="panel-collapse collapse">
                <div class="panel-body">
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <colgroup>
                        <col width='20%'></col>
                        <col width='80%'></col>
                        </colgroup>
                      </thead>
                      <tbody>
                        <tr>
                          <td><span class="glyphicon glyphicon-user"></span> 发布者</td>
                          <td>{{res['author']}}</td>
                        </tr>
                        <tr>
                          <td><span class="glyphicon glyphicon-time"></span> 时间</td>
                          <td>{{res['date_']}}</td>
                        </tr>
                        <tr>
                          <td><span class="glyphicon glyphicon-comment"></span> 摘要</td>
                          <td>{{res['content']}}</td>
                        </tr>
                        {%if res['file_path']%}
                        <tr>
                          <td><span class="glyphicon glyphicon-file"></span> 文件</td>
                          <td>
                          {{os.path.basename(res['file_path'])}}
                          <a href="/download/resource?res_id={{res['resource_id']}}" ><button class='btn btn-sm btn-info'> 点此下载 <span class="glyphicon glyphicon-cloud-download"></span></button></a>
                          </td>
                        </tr>
                        {%end%}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          {%end%}
          </div>
        </div>
      </div>
    </div>
  </div>
  {%end%}