{%extends 'main.html'%}
{%include 'head.html'%}
{%block content%}
<link rel="stylesheet" href="{{static_url('dist/css/bootstrapValidator.css')}}"/>

{%include 'nav_vertical.html'%}
<div class='col-md-6'>
    <div class="panel panel-primary">
        <div class="panel-heading">编辑个人信息</div>
        <div class="panel-body">
            <form id="defaultForm" action='/setting' method='post' class='form-horizontal' enctype='multipart/form-data'>
                <div class='form-group'>
                    <label class='col-md-3 control-label'>用户名</label>
                    <div class='col-md-9'>
                        <h5><strong><p class="text-info"> {%if username%}{{username}}{%end%} </p></strong></h5>
                    </div>
                </div>
                <div class='form-group'>
                    <label class='col-md-3 control-label'>邮箱*</label>
                    <div class='col-md-9'>
                        <input type='text' name='email' class='form-control' required {%if email%}value="{{email}}"{%end%}>
                    </div>
                </div>
                <!-- FIXME(lxiange): 未处理学号表单 -->
                <div class='form-group'>
                    <label class='col-md-3 control-label'>学号*</label>
                    <div class='col-md-9'>
                        <input type='text' name='njuid' class='form-control' required>
                    </div>
                </div>
                <!-- FIXME(lxiange): 未处理真实姓名表单，注意name='truename' -->
                <div class='form-group'>
                    <label class='col-md-3 control-label'>真实姓名*</label>
                    <div class='col-md-9'>
                        <input type='text' name='truename' class='form-control' required>
                    </div>
                </div>
<!--                 <div class='form-group'>
                    <label class='col-md-3 control-label'>上传新头像</label>
                    <div class='col-md-9'>
                        <input type='file' name='headpic' class='form-control'>
                    </div>
                </div> -->
                <div class='form-group'>
                    <label class='col-md-3 control-label'>性别</label>
                    <div class='col-md-9'>
                        <div class="radio col-md-2">
                            <label><input type="radio" name="sex" id="sex1" value="male" {%if sex=='male' or sex==None%}checked{%end%}>男
                            </label>
                        </div>
                        <div class="radio col-md-2">
                            <label><input type="radio" name="sex" id="sex2" value="female" {%if sex=='female'%}checked{%end%}>女
                            </label>
                        </div>
                    </div>
                </div>
                <!-- <div class='form-group'>
                    <label class='col-md-3 control-label'>出生日期</label>
                    <div class="col-md-9">
                        <div class="input-group date form_date col-md-6" data-date="" data-date-format="dd MM yyyy" data-link-format="yyyy-mm-dd">
                            <input id="datepicker" type='text' name='birth' class="form-control" {%if birthday%} value="{{birthday}}" {%end%} size='16'>
                            <span id="datepickerBtn" class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                </div> -->
                <div class='form-group'>
                    <label class='col-md-3 control-label'>手机号码*</label>
                    <div class='col-md-9'>
                        <input type='text' name='mobile' class='form-control' {%if mobile%}value="{{mobile}}"{%end%} required>
                    </div>
                </div>
                <div class='form-group'>
                    <label class='col-md-3 control-label'>自我介绍</label>
                    <div class='col-md-9'>
                        <textarea rows='5' type='text' name='self_intro' class='form-control ' placeholder='写一段自我介绍吧，100字以内喔，让大家最快了解你~' maxlength='100'>{%if self_intro%}{{self_intro}}{%end%}</textarea>
                    </div>
                </div>
                <button type='submit' class='btn btn-primary btn-md pull-right'>更新个人信息</button>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript" src="{{static_url('dist/js/bootstrapValidator.js')}}"></script>
<script type="text/javascript" src="{{static_url('dist/js/language/zh_CN.js')}}"></script>
<script>
$(document).ready(function() {
    $('#defaultForm').bootstrapValidator({
        message: '栏位无效。',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            homework_deadline: {
                message: '请遵照格式YYYY-MM-DD h:m:s填写“截止日期”项。',
                validators: {
                    notEmpty: {
                        message: '“截止日期”项：请遵照格式YYYY-MM-DD h:m:s填写合法时间。'
                    },
                    date: {
                        format: 'YYYY-MM-DD h:m:s'
                    }
                }
            },
        }
    });
});
</script>
{%end%}