{%extends 'main.html'%}
{%include 'head.html'%}
{%block content%}
<!-- TODO: 把这侧边栏删了吧，或者继承自统一的那个模板 -->
<div class="col-md-offset-1 col-md-3 sidenav">
  <ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="200">
    <li {% if request.path == '/' %} class="active"{% end %}><a href="/"><span class="glyphicon glyphicon-list-alt"></span> 课程公告</a></li>
    <li {% if request.path == '/homework/view' %} class="active"{% end %}><a href="/homework/view"><span class="glyphicon glyphicon-paperclip"></span> 查看作业</a></li>
    <li {% if request.path == '/resource' %} class="active"{% end %}><a href="/resource"><span class="glyphicon glyphicon-file"></span> 下载资源</a></li>
  </ul><br>
</div>

<link href='../static/css/bootstrap-datepicker.css' rel='stylesheet' type='text/css' media='screen'>
<div class='col-md-6'>
    <div class="panel panel-primary">
        <div class="panel-heading">编辑个人信息</div>
        <div class="panel-body">
            <form action='/setting' method='post' class='form-horizontal' enctype='multipart/form-data'>
                <div class='form-group'>
                    <label class='col-md-3 control-label'>用户名</label>
                    <div class='col-md-9'>
                        <h5><strong><p class="text-info"> {%if username%}{{username}}{%end%} </p></strong></h5>
                    </div>
                </div>
                <div class='form-group'>
                    <label class='col-md-3 control-label'>邮箱</label>
                    <div class='col-md-9'>
                        <input type='text' name='email' class='form-control' {%if email%}value="{{email}}"{%end%}>
                    </div>
                </div>
                <!-- TODO: 添加真实姓名这一栏，并要求邮箱，姓名，手机号，为必填项 -->
<!--                 <div class='form-group'>
                    <label class='col-md-3 control-label'>上传新头像</label>
                    <div class='col-md-9'>
                        <input type='file' name='headpic' class='form-control'>
                    </div>
                </div> -->
                <div class='form-group'>
                    <label class='col-md-3 control-label'>性别</label>
                    <div class='col-md-9'>
                        <div class="radio col-md-2">
                            <label><input type="radio" name="sex" id="sex1" value="male" {%if sex=='male' or sex==None%}checked{%end%}>男
                            </label>
                        </div>
                        <div class="radio col-md-2">
                            <label><input type="radio" name="sex" id="sex2" value="female" {%if sex=='female'%}checked{%end%}>女
                            </label>
                        </div>
                    </div>
                </div>
                <!-- 这个出生日期不对啊，，这个datepicker只能选当前月好像。。 -->
                <div class='form-group'>
                    <label class='col-md-3 control-label'>出生日期</label>
                    <div class="col-md-9">
                        <div class="input-group date form_date col-md-6" data-date="" data-date-format="dd MM yyyy" data-link-format="yyyy-mm-dd">
                            <input id="datepicker2" type='text' name='birth' class="form-control" {%if birthday%} value="{{birthday}}" {%end%} size='16'>
                            <span id="datepickerBtn" class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                </div>
                <!-- FIXME: datepicker已经完成，但修改信息后并未保存？请检查这个表单是否工作正常？ -->
                <div class='form-group'>
                    <label class='col-md-3 control-label'>手机号</label>
                    <div class='col-md-9'>
                        <input type='text' name='mobile' class='form-control' {%if mobile%}value="{{mobile}}"{%end%}>
                    </div>
                </div>
                <div class='form-group'>
                    <label class='col-md-3 control-label'>自我介绍</label>
                    <div class='col-md-9'>
                        <textarea rows='5' type='text' name='self_intro' class='form-control ' placeholder='写一段自我介绍吧，100字以内喔，让大家最快了解你~' maxlength='100'>{%if self_intro%}{{self_intro}}{%end%}</textarea>
                    </div>
                </div>
                <button type='submit' class='btn btn-primary btn-md pull-right'>更新个人信息</button>
            </form>
        </div>
    </div>
</div>
<script src='../static/js/bootstrap-datepicker.js' charset='utf-8'></script>
<script>
$("#datepicker2").datepicker({
    showOtherMonths: true,
    selectOtherMonths: true,
    dateFormat: "yy-mm-dd"
});
</script>
{%end%}