{%extends 'main.html'%}
{%include 'head.html'%}
{%block content%}
<ul>
    <!-- {%if cookie_name%} -->
    <div class="container-fluid">
        <div class="row content">
            {%include 'nav_vertical.html'%}
            <div class="col-sm-9 text-left">
                <!-- HOMEWORK -->
                <div class="row">
                    <div class="panel panel-info">
                        <div class="panel-heading">这里是作业详情 Panel</div>
                        <div class="panel-body">
                            <h2>作业详情</h2>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <colgroup>
                                        <col width='20%'></col>
                                        <col width='80%'></col>
                                        </colgroup>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><span class="glyphicon glyphicon-user"></span> 发布者</td>
                                            <!-- <td>张天</td> -->
                                            <td>{{homework_info['author']}}</td>
                                        </tr>
                                        <tr>
                                            <td><span class="glyphicon glyphicon-time"></span> 截止日期</td>
                                            <!-- <td>2016/01/08 00:49</td> -->
                                            <td>{{homework_info['deadline']}}</td>
                                        </tr>
                                        <!--    根据status判断提交状态
                                                if status == 'notsubmit' red
                                                if status == 'submitted' green
                                                if status == 'rated' //已经评分过 -->
                                            <!-- TODO: 改变不同状态颜色 -->
                                        {% if status == 'rated' %}
                                        <tr class="danger">
                                            <td><span class="glyphicon glyphicon-stats"></span> 提交状态</td>
                                            <td>已评分，作业已完成</td>
                                        </tr>
                                        {% end %}
                                        {% if status == 'submitted' %}
                                        <tr class="danger">
                                            <td><span class="glyphicon glyphicon-stats"></span> 提交状态</td>
                                            <td>已提交，待评分</td>
                                        </tr>
                                        {% end %}
                                        {% if status == 'notsubmit' %}
                                        <tr class="danger">
                                            <td><span class="glyphicon glyphicon-stats"></span> 提交状态</td>
                                            <td>未提交</td>
                                        </tr>
                                        {% end %}
                                        <tr>
                                            <td><span class="glyphicon glyphicon-tasks"></span> 要求</td>
                                            <td>有很多要求有很多要求有很多要求有很多要求有很多要求有很多要求有很多要求有很多要求有很多要求有很多要求有很多要求有很多要求有很多要求有很多要求有很多要求有很多要求有很多要求有很多要求有很多要求有很多要求有很多要求有很多要求有很多要求有很多要求有很多要求有很多要求</td>
                                        </tr>
                                        <tr>
                                            <td><span class="glyphicon glyphicon-cloud-upload"></span> 我的上传</td>
                                            <td>
                                                <!-- TODO: FORM UNHANDLED -->
                                                <form role="form" method="post">
                                                    <div class="form-group">
                                                        <textarea class="form-control" rows="3" name="submission_content"></textarea>
                                                    </div>
                                                    <div class="form-group">
                                                        <input type='file' name='submission_files' class='form-control'>
                                                    </div>
                                                    <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> 提交作业</button>
                                                </form>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- {% else %}
    <li>no cookiename</li>
    {% end %} -->
</ul>
{%end%}